@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'posts';
@import 'users';
@import 'comment';

.icon_home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #CEE3F8;
  padding: 0 5px;
  img {
    height: 60px;
    width: 180px;
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    h1 {
      font-size: 20px;
    }
  }
}
