
.root_container {
  padding: 20px 5px;
  .post {
    display: flex;
    flex-direction: row;
    align-items: center;
    .votes {
      flex-direction: column;
      .count {
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }
    .links {
      flex-direction: column;
      font-size: 30px;
    }
  }

}



// details page

.container {
  display: flex;
  .post_detail {
      display: flex;
      flex-direction: row;
      align-items: center;
      .votes {
        flex-direction: column;
        .count {
          display: flex;
          justify-content: center;
          align-items: center;

        }
      }
      .links {
        flex-direction: column;
        font-size: 30px;
      }
  }
}
